@import 'icon.css';
@font-face {
  font-family: "agb";
  src: url("../fonts/huge_agb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 3em;
  font-size: 1.7em;
  border-radius: 2em;
  font-weight: bold;
  border-width: 0.3em;
  border-style: solid;
  outline: none;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.btn.btnColor1 {
  background-color: #3ddb84;
  border-color: #3ddb84;
  color: #092f42;
}
.btn.btnColor1:hover {
  background-color: #092f42;
  color: #3ddb84;
}
.btn.btnColor2 {
  background-color: #092f42;
  border-color: #092f42;
  color: #3ddb84;
}
.btn.btnColor2:hover {
  background-color: #3ddb84;
  color: #092f42;
}
.btn.btnWhite {
  background-color: #fff;
  border-color: #fff;
  color: #092f42;
}
.btn.btnWhite:hover {
  background-color: transparent;
  color: #fff;
}
.btn.btnGrey {
  color: #6e6e6e;
  border-color: #6e6e6e;
  border-width: 0.15em;
  padding: 0.4em 1.4em;
  font-weight: normal;
  text-transform: none;
}
.btn.btnGrey:hover {
  color: #fff;
  background-color: #6e6e6e;
}
.btn.btnOrange {
  cursor: pointer;
  color: #fff;
  font-size: 1.4em;
  border-color: #FF6332;
  background-color: #FF6332;
  -webkit-box-shadow: 0 0.2em 0 0 #D0481D;
          box-shadow: 0 0.2em 0 0 #D0481D;
  border-width: 0.15em;
  padding: 0.4em 1.4em;
  font-weight: normal;
  text-transform: none;
}
.btn.btnOrange i {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5em;
}
.btn.btnOrange:hover {
  color: #FF6332;
  border-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 0.2em 0 0 #fff;
          box-shadow: 0 0.2em 0 0 #fff;
}
.btn.btnBlack {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-width: 0.15em;
  padding: 0.4em 1.4em;
  text-transform: none;
}
.btn.btnBlack:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 2em 3em;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .logo {
  width: 150px;
}
header .logo img {
  width: 100%;
  vertical-align: middle;
}
header .btn {
  font-size: 0.9em;
}
.setupPage header {
  background-color: #28a08c;
}
.setupPage header .btn {
  color: #fff;
  border-color: currentColor;
}
.setupPage header .btn:hover {
  color: #6e6e6e;
  border-color: #fff;
  background-color: #fff;
}
@-webkit-keyframes heartBeat {
  0%,
  28%,
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14%,
  42% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes heartBeat {
  0%,
  28%,
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  14%,
  42% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.guidePageWrapper {
  background-color: #f7f7f7;
}
.guidePageWrapper i.circle {
  background-color: #3ddb84;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  margin: auto;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
}
.guidePageWrapper i.circle:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
[data-active="1"].guidePageWrapper i.circle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48), -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
}
[data-active="2"].guidePageWrapper i.circle {
  background-color: #092f42;
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48), -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
}
[data-active="3"].guidePageWrapper i.circle {
  background-color: #092f42;
  opacity: 1;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
  transition: opacity 0.5s, background-color 0.5s, transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48), -webkit-transform 0.5s cubic-bezier(0.17, 0.89, 0.31, 1.48);
}
.mainBlock.noTransit {
  -webkit-transition: none !important;
  transition: none !important;
}
.mainBlock section {
  min-height: 100vh;
  padding: 0;
}
.mainBlock .contentWrapper {
  position: relative;
  width: 95vh;
  margin: auto;
  height: 100%;
}
.sectionWelcome .contentWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionWelcome figure {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: bottom;
          perspective-origin: bottom;
  margin: 0 0 1em;
  width: 50%;
}
.sectionWelcome img {
  width: 100%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s 0.5s;
  transition: -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
}
.sectionWelcome h1 {
  color: #000;
  font-family: 'Heebo';
  font-size: 3em;
  margin: 0.5em 0;
  -webkit-transition: all 0.7s 0.8s;
  transition: all 0.7s 0.8s;
}
.sectionWelcome .btnBlack {
  text-transform: uppercase;
  font-family: 'Heebo';
  font-size: 1em;
  padding: 1.2em 1.8em;
  margin: 1.5em 0;
  -webkit-transition: all 0.7s 1s;
  transition: all 0.7s 1s;
}
.sectionWelcome .btnBlack i {
  color: #3ddb84;
  padding-left: 0.5em;
  font-size: 2em;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
.sectionWelcome a.skip {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #092f42;
  opacity: 0.6;
  -webkit-transition: all 0.7s 1s;
  transition: all 0.7s 1s;
}
.sectionWelcome a.skip:hover {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.sectionWelcome h1,
.sectionWelcome .btnBlack,
.sectionWelcome a.skip {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
  opacity: 0;
}
.sectionWelcome .customerCount {
  background-color: #fff;
  font-size: 1.1em;
  color: #092f42;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  font-style: normal;
  width: 10em;
  height: 10em;
  right: 2%;
  bottom: 8%;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
}
.sectionWelcome .customerCount i {
  color: #dc3a61;
  font-size: 2.2em;
  margin-bottom: 0.3em;
  -webkit-animation: heartBeat 1.3s ease-in-out 40;
          animation: heartBeat 1.3s ease-in-out 40;
}
.sectionWelcome .customerCount strong {
  display: block;
  font-size: 2.3em;
  line-height: 1;
}
.sectionWelcome .customerCount small {
  font-weight: bold;
  opacity: 0.4;
}
.sectionWelcome.play img {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.sectionWelcome.play h1,
.sectionWelcome.play .btnBlack {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.sectionWelcome.play a.skip {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.6;
}
.sectionWelcome.play .customerCount {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.4s 1.2s;
  transition: all 0.4s 1.2s;
}
.sectionSetup .contentWrapper {
  width: 120vh !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionSetup h2 {
  font-size: 3.5em;
  font-family: "agb";
  line-height: 1.1;
  margin: 0;
  color: #3ddb84;
}
.sectionSetup h4 {
  color: #43778f;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0.8em 0;
}
.sectionSetup h4 span {
  color: #a5ddf7;
}
.sectionSetup nav {
  background-color: #0d3e55;
  padding: 1em;
  border-radius: 3em;
  font-size: 1em;
  margin: 1em 0;
  position: relative;
  counter-reset: count;
}
.sectionSetup nav i {
  background-color: #fff;
  width: 9em;
  height: 2.8em;
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
  border-radius: 2em;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}
[data-step="2"].sectionSetup nav i {
  left: 12.1em;
}
[data-step="3"].sectionSetup nav i {
  left: 24.3em;
}
.sectionSetup nav a {
  color: #43778f;
  display: inline-block;
  width: 9em;
  text-decoration: none;
  padding: 0.5em 1.5em 0.5em 0.5em;
  border-radius: 2em;
  position: relative;
  z-index: 2;
  text-align: left;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.sectionSetup nav a:before {
  color: #092f42;
  counter-increment: count;
  content: counter(count);
  width: 1.8em;
  height: 1.8em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  background: #43778f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 1em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sectionSetup nav a:not(:last-child) {
  margin-right: 3em;
}
.sectionSetup nav a:not(:last-child):after {
  content: "\e905";
  font-family: 'icomoon' !important;
  position: absolute;
  right: -2em;
  -webkit-transform: scaleY(1.8);
          transform: scaleY(1.8);
  top: 0.85em;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
[data-step="1"].sectionSetup nav a[data-step="1"],
[data-step="2"].sectionSetup nav a[data-step="2"],
[data-step="3"].sectionSetup nav a[data-step="3"] {
  color: #092f42;
}
[data-step="1"].sectionSetup nav a[data-step="1"]:before,
[data-step="2"].sectionSetup nav a[data-step="2"]:before,
[data-step="3"].sectionSetup nav a[data-step="3"]:before {
  color: #fff;
  background-color: #3ddb84;
}
[data-step="1"].sectionSetup nav a[data-step="1"]:after,
[data-step="2"].sectionSetup nav a[data-step="2"]:after,
[data-step="3"].sectionSetup nav a[data-step="3"]:after {
  color: #fff;
}
.sectionSetup .bottomNav {
  position: relative;
  z-index: 2;
  text-align: right;
  width: 100%;
}
.sectionSetup .bottomNav .back {
  display: inline-block;
  margin-right: 3em;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  color: #43616F;
}
.sectionSetup .bottomNav .back i {
  color: #fff;
  padding-right: 0.3em;
}
.sectionSetup[data-step="1"] .setupSteps.step-1,
.sectionSetup[data-step="2"] .setupSteps.step-2,
.sectionSetup[data-step="3"] .setupSteps.step-3 {
  z-index: 1;
  opacity: 1;
}
.sectionSetup .setupStepsWrapper {
  width: 100%;
  position: relative;
}
.sectionSetup .setupStepsWrapper:before {
  content: '';
  display: block;
  padding-bottom: 48%;
}
.sectionSetup .setupSteps {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 0 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}
.sectionSetup .setupSteps figure {
  min-width: 68%;
  margin: 0;
  border-radius: 0.5em;
  overflow: hidden;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}
.sectionSetup .setupSteps img {
  width: 100%;
  vertical-align: middle;
}
.sectionSetup .setupSteps .stepInfo {
  text-align: left;
  min-width: 32%;
}
.sectionSetup .setupSteps .stepInfo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sectionSetup .setupSteps .stepInfo li {
  position: relative;
  padding-left: 5em;
}
.sectionSetup .setupSteps .stepInfo li:before {
  font-family: 'icomoon' !important;
  font-size: 3em;
  content: "\e901";
  color: #3D6477;
  position: absolute;
  left: 0;
  top: 0;
}
.sectionSetup .setupSteps .stepInfo li:not(:last-child) {
  margin-bottom: 2em;
}
.sectionSetup .setupSteps .stepInfo h4 {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}
.sectionSetup .setupSteps .stepInfo p {
  color: #3183a9;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}
section.sectionReady .contentWrapper {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vh;
  height: 90vh;
  padding: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}
section.sectionReady h3 {
  font-size: 3.8em;
  font-family: "agb";
}
section.sectionReady .btn {
  font-size: 1.3em;
  display: block;
  width: 50%;
  max-width: 350px;
}
@media only screen and (max-width: 1500px) {
  .mainBlock {
    font-size: 12px;
  }
  .mainBlock .contentWrapper,
  .mainBlock i.circle {
    width: 95vh;
  }
}
.previewSwitch {
  cursor: pointer;
  width: 6.5em;
  height: 1.7em;
  background-color: #fff;
  border-radius: 2em;
  position: relative;
}
.previewSwitch i {
  width: 45%;
  background-color: #f00;
  display: block;
  border-radius: 50%;
  margin-top: -0.6em;
  z-index: 1;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.previewSwitch i:before {
  display: block;
  padding-bottom: 100%;
  content: '';
}
.previewSwitch strong {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #000;
  line-height: 2.2;
  padding: 0 1em;
  font-size: 0.8em;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.previewSwitch strong:first-of-type {
  color: #ff851e;
  text-align: left;
  opacity: 0;
}
.previewSwitch strong:last-of-type {
  color: #f00;
  text-align: right;
}
.previewSwitch.active i {
  background-color: #ff851e;
  left: 57%;
}
.previewSwitch.active strong:first-of-type {
  opacity: 1;
}
.previewSwitch.active strong:last-of-type {
  opacity: 0;
}
.setupWrapper {
  min-height: 100vh;
}
.setupWrapper .setupBox {
  min-height: 100vh;
}
.setupWrapper .cntArea {
  max-width: 930px;
  padding: 0 20px;
  position: relative;
  width: 100vw;
  margin: 0 auto;
}
.setupWrapper .setupTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "agb";
  font-size: 1.2em;
}
.setupWrapper .setupTabs a {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: rgba(9, 48, 66, 0.3);
  text-transform: uppercase;
  position: relative;
}
.setupWrapper .setupTabs a.active {
  color: #abdb66;
}
.setupWrapper .setupTabs a:not(:first-child) {
  padding-left: 2em;
}
.setupWrapper .setupTabs a:not(:first-child):before {
  font-family: 'icomoon';
  position: absolute;
  left: -0.5em;
  line-height: 1.5;
  top: 0;
  color: rgba(9, 48, 66, 0.8);
  content: "\e905";
}
.setupWrapper .setupHead {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7em;
  margin-top: 3em;
  min-height: 5.355em;
}
.setupWrapper .setupHead:empty {
  opacity: 0;
}
.setupWrapper .setupHead p {
  margin: 0;
}
.setupWrapper .setupHead .btn {
  font-size: 0.9em;
  font-family: 'Heebo';
  font-weight: normal;
}
.setupWrapper .setupHeader {
  background-color: #28a08c;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.setupWrapper .setupHeader h2 {
  color: #fff;
  font-family: "agb";
  font-size: 3.5em;
  line-height: 1;
  font-weight: normal;
}
.setupWrapper .setupContent.pullUp {
  margin-top: -3.7em;
}
.setupWrapper .contentBox img {
  width: 100%;
  vertical-align: middle;
}
.setupWrapper .navBox {
  text-align: right;
  padding: 2em 0;
}
.setupWrapper .navBox a.btn {
  font-size: 0.7em;
  border-radius: 0.5em;
  color: #fff;
  text-transform: none;
  font-weight: normal;
  display: inline-block;
  padding: 0.5em 3em;
}
.setupWrapper .setupBox.step-live .setupHeader {
  background-color: #092f42;
}
