@import 'icon.css';
@font-face {
  font-family: "agb";
  src: url("../fonts/huge_agb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 3em;
  font-size: 1.7em;
  border-radius: 2em;
  font-weight: bold;
  border-width: 0.3em;
  border-style: solid;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.btn.btnColor1 {
  background-color: #3ddb84;
  border-color: #3ddb84;
  color: #092f42;
}
.btn.btnColor1:hover {
  background-color: #092f42;
  color: #3ddb84;
}
.mainBlock.noTransit {
  -webkit-transition: none !important;
  transition: none !important;
}
.mainBlock section {
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 0;
}
.mainBlock i.circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  width: 95vh;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
}
.mainBlock i.circle:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.mainBlock .contentWrapper {
  position: relative;
  width: 95vh;
  margin: auto;
  height: 100%;
}
.sectionWelcome i.circle {
  background-color: #3ddb84;
}
.sectionWelcome .contentWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionWelcome figure {
  margin: 0 0 1em;
  width: 50%;
}
.sectionWelcome img {
  width: 100%;
}
.sectionWelcome h1 {
  color: #092f42;
  font-family: "agb";
  font-size: 4em;
  line-height: 1.1;
  margin: 0;
}
.sectionWelcome p {
  color: #092f42;
  opacity: 0.4;
  font-family: "agb";
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: bold;
}
.sectionWelcome .customerCount {
  background-color: #fff;
  font-size: 1.1em;
  color: #092f42;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  font-style: normal;
  width: 10em;
  height: 10em;
  right: 2%;
  bottom: 8%;
}
.sectionWelcome .customerCount img {
  width: 2.5em;
  margin: 0 0 0.5em;
}
.sectionWelcome .customerCount strong {
  display: block;
  font-size: 2.3em;
  line-height: 1;
}
.sectionWelcome .customerCount small {
  font-weight: bold;
  opacity: 0.4;
}
.sectionPreview i.circle {
  background-color: #092f42;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sectionPreview .contentWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3ddb84;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sectionPreview h2 {
  font-size: 3.5em;
  font-family: "agb";
  line-height: 1.1;
  margin: 0;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.sectionPreview .liveControl {
  color: #fff;
  margin: 1em 0;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionPreview .liveControl p {
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.sectionPreview .liveControl small {
  color: #3f8fb5;
  text-align: left;
  font-size: 0.65em;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: relative;
}
.sectionPreview .liveControl .previewSwitch {
  margin: 0 1em;
}
.sectionPreview .liveControl svg {
  width: 4em;
  position: absolute;
  left: 0;
  bottom: 0;
  stroke: aquamarine;
  -webkit-transform: translate(-60%, 120%) rotate(10deg);
          transform: translate(-60%, 120%) rotate(10deg);
  stroke: rgba(255, 255, 255, 0.8);
}
.sectionPreview .liveControl path {
  fill: none;
  stroke: inherit;
  stroke-miterlimit: 10;
}
.sectionPreview .livePreviewBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0 0;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}
.sectionPreview .livePreviewBox > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.sectionPreview .livePreview {
  min-width: 60%;
  width: 60%;
}
.sectionPreview .livePreview figure {
  width: 100%;
  margin: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  position: relative;
}
.sectionPreview .livePreview img {
  width: 100%;
  vertical-align: middle;
}
.sectionPreview .livePreview img.enabled {
  display: none;
}
.sectionPreview .livePreview p {
  font-size: 0.7em;
  text-align: right;
  display: block;
  padding-left: 20vh;
  color: #fff;
  min-height: 2.7em;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.sectionPreview .livePreview p .enabled {
  display: none;
}
.sectionPreview .campaignPoints {
  font-size: 0.9em;
  padding-left: 3.5em;
  text-align: left;
  min-width: 40%;
  width: 40%;
  color: #fff;
}
.sectionPreview .campaignPoints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sectionPreview .campaignPoints li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionPreview .campaignPoints li:not(:last-child) {
  margin-bottom: 2em;
}
.sectionPreview .campaignPoints span {
  text-decoration: line-through;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sectionPreview .campaignPoints .bullet {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #fff;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-size: 1.6em;
  margin-right: 1.2em;
  line-height: 0.7;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sectionPreview .campaignPoints .bullet:before {
  content: "\e906";
}
.sectionPreview.preview-active i.circle {
  background-color: #3ddb84;
}
.sectionPreview.preview-active .liveControl,
.sectionPreview.preview-active h2 {
  color: #092f42;
}
.sectionPreview.preview-active .livePreview img {
  display: none;
}
.sectionPreview.preview-active .livePreview img.enabled {
  display: block;
}
.sectionPreview.preview-active .livePreview p small {
  color: #092f42;
  display: none;
}
.sectionPreview.preview-active .livePreview p small.enabled {
  display: block;
}
.sectionPreview.preview-active .campaignPoints span {
  color: #092f42;
  text-decoration: none;
  opacity: 1;
}
.sectionPreview.preview-active .campaignPoints .bullet {
  background-color: #fff;
  color: #092f42;
}
.sectionPreview.preview-active .campaignPoints .bullet:before {
  content: '\e903';
}
.sectionPreview.preview-active .liveControl small {
  color: #092f42;
}
.sectionPreview.preview-active .liveControl svg {
  stroke: #092f42;
}
.sectionPreview.active .contentWrapper,
.sectionPreview.active .circle {
  opacity: 1;
}
section.sectionReady {
  background-color: #092f42;
}
section.sectionReady i.circle {
  background: conic-gradient(rgba(11, 77, 109, 0), #0b4d6d);
  width: 90vh;
}
section.sectionReady .contentWrapper {
  background-clip: content-box;
  background-color: #092f42;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  padding: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}
section.sectionReady h3 {
  font-size: 3.8em;
  font-family: "agb";
}
section.sectionReady .btn {
  font-size: 1.3em;
  display: block;
  width: 50%;
  max-width: 350px;
}
.sectionSetup i.circle {
  background-color: #092f42;
}
.sectionSetup .contentWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionSetup h2 {
  font-size: 3.5em;
  font-family: "agb";
  line-height: 1.1;
  margin: 0;
  color: #3ddb84;
}
.sectionSetup h4 {
  color: #fff;
  opacity: 0.3;
  font-family: "agb";
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0.8em 0;
}
.sectionSetup nav {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 0.8em;
  margin: 1em 0;
}
.sectionSetup nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}
.sectionSetup nav a:not(:last-child):after {
  content: ">";
  display: inline-block;
  margin: 0 1em;
}
.sectionSetup .setupSteps {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4em 0 0;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}
.sectionSetup .setupSteps figure {
  min-width: 60%;
  margin: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
}
.sectionSetup .setupSteps img {
  width: 100%;
  vertical-align: middle;
}
.sectionSetup .setupSteps .stepInfo {
  padding-left: 4em;
  text-align: left;
  min-width: 40%;
}
.sectionSetup .setupSteps .stepInfo i {
  color: #092f42;
  width: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  border-radius: 50%;
  background: #3ddb84;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "agb";
  font-size: 1.1em;
}
.sectionSetup .setupSteps .stepInfo h5 {
  font-family: "agb";
  color: #3ddb84;
  font-size: 1.5em;
  margin: 1em 0;
}
.sectionSetup .setupSteps .stepInfo h5:after {
  content: "";
  display: block;
  height: 0.15em;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0.7em 0 0;
}
.sectionSetup .setupSteps .stepInfo p {
  color: #fff;
  opacity: 0.5;
  font-size: 0.9em;
  padding-right: 20%;
}
.sectionSetup.active .setupSteps {
  opacity: 1;
}
.step1.active a[data-slide="2"],
.step2.active a[data-slide="3"],
.step3.active a[data-slide="4"] {
  opacity: 1;
}
@media only screen and (max-width: 1500px) {
  .mainBlock {
    font-size: 12px;
  }
  .mainBlock .contentWrapper,
  .mainBlock i.circle {
    width: 95vh;
  }
  .mainBlock .sectionWelcome .contentWrapper {
    font-size: 0.8em;
  }
}
.previewSwitch {
  cursor: pointer;
  width: 6.5em;
  height: 1.7em;
  background-color: #fff;
  border-radius: 2em;
  position: relative;
}
.previewSwitch i {
  width: 45%;
  background-color: #f00;
  display: block;
  border-radius: 50%;
  margin-top: -0.6em;
  z-index: 1;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.previewSwitch i:before {
  display: block;
  padding-bottom: 100%;
  content: '';
}
.previewSwitch strong {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #000;
  line-height: 2.2;
  padding: 0 1em;
  font-size: 0.8em;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.previewSwitch strong:first-of-type {
  color: #ff851e;
  text-align: left;
  opacity: 0;
}
.previewSwitch strong:last-of-type {
  color: #f00;
  text-align: right;
}
.previewSwitch.active i {
  background-color: #ff851e;
  left: 57%;
}
.previewSwitch.active strong:first-of-type {
  opacity: 1;
}
.previewSwitch.active strong:last-of-type {
  opacity: 0;
}
